<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false" menuToggle></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <p><span>Easy</span>Shopping</p>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
    <h1>Adres dostawy</h1>

    <ion-item>
      <ion-label position="floating">Ulica</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Numer budynku</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Kod pocztowy</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Miasto</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Numer mieszkania (opcjonalne)</ion-label>
      <ion-input></ion-input>
    </ion-item>

  </ion-list>

  <ion-item lines="none" class="savedatabtn">
    <ion-button expand="full" fill="clear" shape="round"><p>Zapisz dane</p></ion-button>
  </ion-item>


</ion-content>
