ion-list{
    height: -webkit-fill-available;
    margin: 1.2em;
    border-radius: 1rem;
    h1{
        text-align: center;
    }
}
ion-item{
    margin-top: 1em;
}
ion-button{
    margin-right: 6rem;
    margin-left: 6rem;
    box-shadow: 1px 1px 6px 0px rgb(255 255 255 / 25%);
}
.desc{
    margin-top: 0px;
}