ion-list{
    margin: 1.2em;
    border-radius: 1rem;
    h1{
        text-align: center;
    }
}
ion-item{
    margin-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    display: initial;
}
ion-button{
    margin-right: 0;
    margin-left: 0;
    box-shadow: 1px 1px 6px 0px rgb(255 255 255 / 25%);
}
.desc{
    margin-top: 0px;
}
ion-img{
        transform: scale(1.5);
        object-fit: contain;
}