<ion-content>

  <div class="icon-lg">
    <img src="../assets/images/login-icon-lg.svg" alt="">
  </div>

  <div class="login-inputs">
    <ion-item>
      <ion-label color="primary" position="floating">Email</ion-label>
      <ion-input type="text" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" position="floating">Hasło</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
  </div>
      
  <div class="login-section">
    <ion-button color="inputs" expand="full" fill="clear" shape="round" (click)="login()"><p>Zaloguj</p></ion-button>
    <ion-button color="inputs" expand="full" fill="clear" shape="round" (click)="goToRegisterPage()"><p>Zarejestruj</p></ion-button>
  </div>

</ion-content>
