<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Rejestracja</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-item>
      <ion-label position="floating" color="primary">Email</ion-label>
      <ion-input type="text" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating" color="primary">Hasło</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>

    <ion-button color="primary" expand="full"  fill="clear" shape="round" class="submit-btn margin-top" (click)="register()"><p>Zarejestruj</p></ion-button>
    <!-- zmienic kolory -->
  <p class="ion-text-center"><a style="color: white;" (click)="GoToLogin()">Masz już konto? <a>Spróbuj się zalogować.</a></a></p>
  <p class="ion-text-center"><a style="color: white;" (click)="GoToRegulations()">Regulami aplikacji.</a></p>

</ion-content>