<ion-header>
  <ion-toolbar>
    <ion-title>Regulamin aplikacji</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>  
  <ion-list> 

    <ion-item>
      <ion-label class="ion-text-wrap ion-text-center">
        <ion-text color="secondary">
          <h1>REGULAMIN APLIKACJI MOBILNEJ „EasyShopping"</h1>
          <h3>1 POSTANOWIENIA OGÓLNE </h3>
        </ion-text>
        <ion-text>
            <p>
            1.1 Niniejszy regulamin (dalej: „Regulamin”) określa zasady, warunki i zakres korzystania z aplikacji
            mobilnej EasyShopping przeznaczonej na urządzenia mobilne z systemem operacyjnym Android (dalej: „Aplikacja”) i stanowi regulamin w rozumieniu art. 8 ustawy z dnia 18 lipca
            2002 r. o świadczeniu usług drogą elektroniczną.
            </p>
            <p>
            1.2 Właścicielem i operatorem Aplikacji, a także usługodawcą świadczonych za jej pośrednictwem
            usług, jest spółka EasyShopping Sp. z o. o. z siedzibą w Opolu przy ul. Domańskiego Opole
            </p>
            <p>
              1.3 Użytkownikiem Aplikacji w rozumieniu Regulaminu jest osoba fizyczna, która poprzez Aplikację
              zainstalowaną na własnych urządzeniu mobilnym korzysta z oferowanych przez Aplikację
              funkcjonalności (dalej: „Użytkownik”).
            </p>
            
              <p> 
                1.4 Usługi świadczone za pośrednictwem Aplikacji polegają w szczególności na:      
              </p>

              <p>
                1.4.1 pozyskiwaniu informacji za pośrednictwem aplikacji o najbliższych sklepach i serwisach rowerowych
              </p>

              <p>
              1.4.2 korzystaniu z stworzonych przez administratora aplikacji drogach dla rowerów;
              </p>

              <p>
              1.4.3 dostarczaniu informacji do tabel wyników po ukończonych przejazdach rowerowych;
              </p>

              <p>
              1.4.4 informowaniu Użytkowników o produktach i usługach Operatora oraz podmiotów
              trzecich.
              </p>

              <p>
              1.5 Aplikacja możliwa jest do pobrania ze sklepu internetowego: Google Play (dla systemu Android).
              </p>

              <p>
              1.6 Z chwilą pobrania i zainstalowania Aplikacji na urządzeniu mobilnym Użytkownika następuje
              zawarcie przez niego z Operatorem umowy o świadczenie usług drogą elektroniczną w ramach
              korzystania z Aplikacji, w tym szczególnie usług polegających na dostępie do funkcjonalności
              Urządzenia.
              </p>

              <p>
              1.7 Pobranie Aplikacji ze sklepów wskazanych w pkt 1.5 Regulaminu, jak również korzystanie
              z oferowanych za jej pośrednictwem podstawowych usług jest bezpłatne. Operator dopuszcza
              możliwość wprowadzenia odpłatnych, dodatkowych funkcjonalności przy dokonywaniu
              kolejnych aktualizacji Aplikacji lub oprogramowania Urządzenia. Odpłatne funkcjonalności
              Urządzenia zostaną w sposób wyraźny oznaczone, tak, aby Użytkownik miał pełną wiedzę na
              temat wysokości kosztów poniesionych w związku z korzystaniem z odpłatnych
              funkcjonalności Urządzenia.
              </p>

              <p>
              1.8 Koszty transmisji danych wymaganych do pobrania, instalacji, uruchomienia i korzystania
              z Aplikacji pokrywają jej Użytkownicy we własnym zakresie, na podstawie umów zawartych
              z operatorami telekomunikacyjnymi lub innymi dostawcami usług internetowych. Użytkownik
              ponosi odpowiedzialność za jakąkolwiek odpłatność z tytułu wykorzystania transmisji danych,
              niezbędnego do korzystania z Aplikacji. Operator zaleca Użytkownikom Aplikacji korzystanie
              z aplikacji lub funkcji systemu operacyjnego polegających na pomiarze ilości przesyłanych
              danych.
              </p>

              <p>
              1.9 Aplikacja oraz wszelkie zawarte w niej materiały i informacje oraz układ prezentowych
              w ramach Aplikacji treści, a także logotypy, elementy graficzne i znaki towarowe, stanowią 
              </p>
              



      
        </ion-text>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label class="ion-text-wrap ion-text-center">
        <ion-text color="secondary">
          <h1>WYMAGANIA TECHNICZNE I ZASADY DOSTĘPU DO APLIKACJI</h1>
          <h3>2 WYMAGANIA TECHNICZNE I ZASADY DOSTĘPU DO APLIKACJI</h3>
        </ion-text>
        <ion-text>
            <p>
              2.1 Aplikacja dostępna jest dla wszystkich osób korzystających z urządzeń mobilnych, które to
              urządzenia spełniają wskazane poniżej wymagania techniczne, i na które ww. osoby pobiorą
              Aplikację z odpowiedniego sklepu z aplikacjami i prawidłowo ją uruchomią.
            </p>

            <p>
               2.2 Urządzenie mobilne Użytkownika, na którym ma zostać uruchomiona Aplikacja, powinno
              spełniać następujące wymagania techniczne dotyczące systemu operacyjnego:
            </p>
             
            <p>
              2.2.1 dla wersji Aplikacji pobranej ze sklepu Google Play - Android w wersji 4.4 (lub nowszej).
            </p>

            <p>
              2.3 Pobranie i zainstalowanie Aplikacji z innych źródeł niż wskazane powyżej stanowi naruszenie
              Regulaminu. Powyższy zapis nie dotyczy urządzeń mobilnych Użytkowników, na których
              aplikacja była preinstalowana fabrycznie, a Operator wyraził na to zgodę.
            </p>
            
            <p>
             2.4 Do uruchomienia i prawidłowego działania Aplikacji niezbędne jest aktywowanie
              następujących funkcji Urządzenia: 
            </p>

            <p>
              2.4.1 aktywne połączenie internetowe,
            </p>


            <p>
              2.4.2 aktywne połączenie gps.
            </p>
            <p> 
              2.5 Aby korzystać z funkcjonalności Aplikacji Użytkownik powinien dokonać uprzedniej rejestracji
            za pośrednictwem Aplikacji.
          </p>
           

          

            </ion-text>
          </ion-label>
        </ion-item>
          
              <ion-item>
                <ion-label class="ion-text-wrap ion-text-center">
                  <ion-text color="secondary">
                    <h1>PROCES REJESTRACJI UŻYTKOWNIKA</h1>
                    <h3>3 REJESTRACJA UŻYTKOWNIKA</h3>
                  </ion-text>
                  <ion-text>
                      <p>
                        3.1 W trakcie pierwszego uruchomienia Urządzenia Użytkownik zobowiązany jest przejść proces
                        rejestracji w Aplikacji, polegającej na założeniu indywidualnego konta Użytkownika (dalej:
                        „Rejestracja”).

                      </p>
                      <p> 3.2 Do dokonania Rejestracji wymagane jest podanie przez Użytkownika następujących danych:</p>
                        
                      <p>
                        3.2.1 adres e-mail;
                      </p>
                      <p>
                      3.2.2 hasło;
                    </p>


                      <p>
                        oraz potwierdzenie przez Użytkownika, że zapoznał się z Regulaminem i akceptuje jego treść.
                      </p>
                    </ion-text>
                  </ion-label>
                </ion-item>
            
                <div text-center margin style="margin: 5%;">
                  <ion-text margin text-center tappable (click)="register()" color="primary ion-text-center">
                    <strong><p>Powrót do strony głownej</p><p><ion-icon size="default" name="home"></ion-icon></p></strong>
                  </ion-text>
                </div>

  </ion-list>

  

</ion-content>