/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,800;1,100;1,200;1,300;1,400;1,500;1,700&display=swap');

ion-button{
        margin-bottom: 1.4rem;
        margin-right: 3rem;
        margin-left: 3rem;
        height: 30px;
        background-color: white;
        border-radius: 11px;
        box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.25);
        margin-top: 1.2rem;
        text-transform: none;
            p{
                margin: 0;
                font-size: 1.1em;
                font-weight: 500;
                letter-spacing: 2%;
            }
}

ion-content{
    --ion-background-color:#E5D4CE;
}

ion-item{
    margin-top: 1.5rem;
    --background: none;
    background-color: none;
    padding-left: 2rem;
    padding-right: 2rem;
}

.margin-top{
    margin-top: 3rem;
}

ion-title{
    font-weight: 400;
    text-align: center;
}

.label-floating.sc-ion-label-md-h{
    transform: translateY(130%);
}
#alert-1-hdr{
    text-align: center;
}
#alert-1-sub-hdr{
    margin-top: 1rem;
    text-align: center;
}
#alert-1-msg{
    text-align: center;
}